ody {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* header part design start */
.header-area {
    padding: 40px 0;
}

.custom-bg {
    background: #ffffff;
}

/* navbar design start */
.custom-logo {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    color: #000000 !important;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: normal;
}

.custom-menu ul li {
    padding-left: 80px;
}

.custom-menu ul li a {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color: #626262 !important;
}

/* banner design start */
.banner-design {
    padding-top: 35px;
}

/* header part design end */
/* photodiary part design start */
#photodiary-part {
    padding: 42px 65px 25px 150px;
}

.photodiary-design h5,
h4 {
    color: #b4ad9e;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: normal;
}

.photodiary-design h3 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #626262;
    padding: 8px 0 15px 0;
}

.photodiary-design p {
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-weight: normal;
    line-height: 26px;
    width: 90%;
    padding-bottom: 35px;
}

.photodiary-design {
    padding-left: 55px;
    padding-bottom: 35px;
}
/* photodiary part design end */
/* common section design start from here */
#First-com-section {
    padding: 55px 65px 50px 150px;
}

#common-section {
    padding: 55px 65px 50px 150px;
}

.common-design h4 {
    color: #b4ad9e;
    font-size: 13px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 25px;
}

.common-design h3 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #626262;
    padding: 10px 0 20px 0;
}

.common-design p {
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-weight: normal;
    line-height: 26px;
    width: 92%;
}

.custom-left {
    padding-left: 55px;
}

.custom-right {
    padding-right: 55px;
}

/* common section design end here */
/* signup area design start from here */
.signup-area {
    background: #f0f0f0;
    padding: 65px 0;
}

.signup-design h3 {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #333333;
    padding-bottom: 60px;
}

.form-control {
    border: none;
    background: transparent;
    padding-left: 0;
}

.input-group {
    border-bottom: 1px solid;
}

.input-group-append span {
    border: none;
    background: transparent;
    cursor: pointer;
}

/* its for button design */
.button-design a {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    padding: 16px 35px;
    cursor: pointer;
    color: #626262;
    background: #ffffff;
    border: 1px solid #626262;
    text-decoration: none;
    border-radius: 1px;
}

.button-design {
    padding: 80px 55px 80px 0px;
}

/* signup area design end here */